<div class="signup-wrap">
    <div class="signup-card col-md-10">
        <div class="signup-img card-half col-md-6">
        </div>
        <div class="signup-form card-half col-md-6">
            <img src="../../../assets/colls-logo.svg" alt="logo da COLLS.CO" height="50">
            <mat-divider></mat-divider>
            <h1>Seja bem-vindo à comunidade!</h1>
            <p>Faça login para poder participar ds votações ou acessar seu dashboard de artista.</p>

            <div class="buttons-wrap" *ngIf="!fullLogin && !resetSenha">
                <button class="big-btn" mat-stroked-button (click)="loginViaGoogle()">
                    <img src="../../../assets/google-icon.webp" alt="Logo da Google" height="30">
                    Login com Google</button>
                <button class="big-btn" mat-stroked-button (click)="fullLogin = !fullLogin">
                    <mat-icon>
                        lock
                    </mat-icon>
                    Login com senha
                </button>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="loginViaPassword()" *ngIf="fullLogin && !resetSenha">
                <div class="form-row">
                    <mat-form-field appearance="outline" class="col-md-6">
                        <mat-label>E-mail</mat-label>
                        <input matInput formControlName="email" type="email">
                        <mat-error *ngIf="loginForm.get('email').invalid">E-mail inválido.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-6">
                        <mat-label>Senha</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Esconder senha'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <button class="big-btn" mat-raised-button color="primary" type="submit"
                    [disabled]="this.loginForm.invalid">
                    <mat-icon>
                        lock
                    </mat-icon>
                    Login com senha
                </button>
                <mat-divider></mat-divider>
                <button class="big-btn" mat-stroked-button (click)="loginViaGoogle()">
                    <img src="../../../assets/google-icon.webp" alt="Logo da Google" height="30">
                    Login com Google</button>
            </form>

            <div class="reset-senha" *ngIf="resetSenha">

                <mat-form-field appearance="outline">
                    <mat-label>Digite seu e-mail para recuperar a senha</mat-label>
                    <input matInput [formControl]="resetEmail" type="email" #emailReset>
                    <mat-error *ngIf="resetEmail.invalid">E-mail inválido.</mat-error>
                </mat-form-field>

                <button class="big-btn" mat-raised-button color="primary"
                    (click)="this.auth.resetPassword(emailReset.value)" [disabled]="resetEmail.invalid">
                    <mat-icon>
                        lock
                    </mat-icon>
                    Recuperar senha
                </button>

                <div class="buttons-wrap" *ngIf="resetSenha">
                    <a (click)="resetSenha = !resetSenha">Cancelar</a>
                    <a routerLink="/signup">Não tenho uma conta</a>
                </div>

            </div>

            <div class="buttons-wrap" *ngIf="!resetSenha">
                <a routerLink="/signup">Não tenho uma conta</a>
                <a (click)="resetSenha = !resetSenha">Esqueci minha senha</a>
            </div>
        </div>
    </div>
</div>